$experimental-support-for-opera: false !default;
$experimental-support-for-khtml: false !default;
$legacy-support-for-ie6: false !default;
$legacy-support-for-ie7: false !default;

@import
	"../lib/caboose/caboose",

	"mixins/mixins",

	"placeholders/placeholders",

	"fonts/icons",

	"base/header",
	"base/body",
	"base/footer",

	"pages/index";
