// <%= fontFamily %> <%= fontWeight %>

@font-face {
	font-family: "<%= fontFamily %>";
	src: url('../fonts/<%= slug %>.eot');
	src: url('../fonts/<%= slug %>.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/<%= slug %>.woff') format('woff'),
		 url('../fonts/<%= slug %>.ttf') format('truetype');
	font-weight: <%= fontWeight %>;
	font-style: <%= fontStyle %>;
}

@mixin <%= mixinName %> {
	font-family: "<%= fontFamily %>";
	font-weight: <%= fontWeight %>;
	font-style: <%= fontStyle %>;
}
